<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Mapa Comparativo SouthEnd - Heroku App</h1>
    <p>Desenvolvimento J2EE</p>
    <p>MAVEN (dependency and library management) + SPRING (build MVC)</p>
    <p>+ HIKARI DB (JDBC lightweight) + Thymeleaf (html5 and templating)</p>
    <p>Hibernate (JPA - database consistency and ORM)</p>
    <p>HerokuApp auto-build through GIT connection<p>
  </div>
</div>
</body>
</html>
